<h1><%= @comment.body  %></h1>
<p><%= @comment.created_at  %></p>

<%= link_to "Edit", edit_comment_path  %>
<%= link_to "Delete", comment_path(@comment),
                      method: :delete,
                      data: { confirm: "Are You Sure?"} %>
<%= link_to "Add", new_comment_path  %>
