<h1>Body: <%= @comment.body  %></h1>
<p>Created At: <%= @comment.created_at  %></p>
<p>Name: <%= @comment.user.full_name  %></p>

<%= link_to "Edit", edit_comment_path  %>
<%= link_to "Delete", comment_path(@comment),
                      method: :delete,
                      data: { confirm: "Are You Sure?"} %>
<%= link_to "Add", new_comment_path  %>
