<%= @user.errors.full_messages.join(", ") %>
<div class="container">
  <div class="well simple-form">
    <h1>Update</h1>

    <%= simple_form_for @user do |f| %>
    <div>
      <%= f.input :first_name %>
    </div>
    <div>
      <%= f.input :last_name %>
    </div>
    <div>
      <%= f.input :email %>
    </div>
    <%= f.button :submit %>
    <% end %>
    <%= link_to "Change Password", edit_password_path(@user) %>
  </div>
</div>
