<%= @post.errors.full_messages.join(" ") %>
<%= simple_form_for @post do |f| %>
<div>
  <%= f.input :title %>
</div>
<div>
  <%= f.input :body %>
</div>
<div>
  <%= f.input :category_id, collection: Category.order(:name),
              value_method: :id, label: :name, include_blank: false %>
</div>
<div>
  <%= f.input :image, multiple: true, hint: "jpg, jpeg, gif, png" %>
</div>
<div>
  <%= f.input :file, as: :file, hint: "jpg, jpeg, gif, png" %>
</div>
<div>
  <%= f.button :submit %>
</div>
<% end %>
