<h1>Title: <%= @post.title %></h1>
<p>Body: <%= @post.body %></p>
<p>Created at: <%= @post.created_at %></p>
<p>Category: <%= @post.category_name %></p>
<p>Created by: <%= @post.user.full_name %></p>

<div id="favorite-post">
<%= render "/favorites/post_favor" %>
</div>

<% if can? :update, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to "Delete", post_path(@post),
                        method: :delete,
                        data: {confirm: "Are You Sure?"} %>
<% end %>

<div id="comment-form">
  <%= render "/comments/form"  %>
</div>

<div id="comments">
<% @post.comments.by_most_recent.each do |com| %>
  <%= render "/comments/comments", comment: com %>
<% end %>
</div>
